*.pxn
*.rip
*.out
*.toc
*.aux
*.log
*~
*.blg
*.rel
*.synctex.gz
*conflicted\ copy*
*.nav
*.snm
*.pdf
*.png
*.jpg
*.zip
*.avi
*.HIDDEN.git
.DS_Store
_region_.tex
*/figs
!Puebla2013/figs
!Puebla2013/figs/*.pdf
!Puebla2013/figs/*.png
!Puebla2013/figs/*.jpg
*/movies
Baltimore2013/wjh-baltimore-2013.pdf
HoustonTalk2011/mhdtalk-en-oct2011.pdf
HoustonTalk2011/sja-mhdhii.pdf
LarimTalk2010/mhdtalk-en-nov2010.pdf
Poland2012/figs/all-images-04052012.tar.gz
Poland2012/figs/O-Star-512-PDR-2012.mov
Poland2012/figs/orion-herschel-spitzer-rotate.pxm
Poland2012/media9-test.pdf
Poland2012/wjh-poland-2012.pdf
Stockholm2013/wjh-proplyds-nordita-2013.pdf
Tenerife2012/wjh-mixing-talk-2012.pdf
TFE2012/wjh-ll-tfe2012.pdf
TownsvillePoster/src/wjh-townsville-poster.pdf
TownsvillePoster/tests/tikz-tests-wjh.pdf
